# 🟢 Основные зависимости для Django
Django==5.1.7
djangorestframework==3.16.0
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.1.0  # Загрузка переменных окружения из .env

# 🔵 Линтеры и форматирование кода
black==25.1.0  # Автоформатирование Python-кода
flake8==7.2.0  # Линтер (проверка кода на ошибки)
mccabe==0.7.0  # Проверка сложности кода (используется Flake8)
pycodestyle==2.13.0  # Проверка стиля кода (PEP 8)
pyflakes==3.3.0  # Поиск ошибок в коде

# 🟡 Pre-commit хуки (автоматическая проверка перед коммитом)
pre_commit==4.2.0
identify==2.6.9
cfgv==3.4.0
nodeenv==1.9.1

# 🟠 Вспомогательные библиотеки
asgiref==3.8.1  # Поддержка асинхронности в Django
click==8.1.8  # CLI-инструмент
colorama==0.4.6  # Цветной вывод в консоли (Windows)
distlib==0.3.9  # Работа с виртуальными окружениями
filelock==3.18.0  # Управление блокировками файлов
mypy-extensions==1.0.0  # Поддержка статического анализа типов
packaging==24.2  # Управление версиями пакетов
pathspec==0.12.1  # Работа с шаблонами путей
platformdirs==4.3.7  # Определение системных путей
PyYAML==6.0.2  # Чтение/запись YAML-файлов
virtualenv==20.29.3  # Создание виртуальных окружений